.audioPlayer {
  --primary: #f40082;
  --secondary: #ffd200;
  align-items: center;
  display: flex;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  background: #b59774;
  border: none;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}

.play {
  position: relative;
  left: 2px;
}

.currentTime,
.duration {
  font-size: 14px;
  color: #96a1a3;
}

.progressBar {
  --bar-bg: #c0cacc;
  --seek-before-width: 0;
  --seek-before-color: #b597741;
  --knobby: #b59774;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 2px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 2px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 2px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -5px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.wrap_name {
  display: flex;
  justify-content: space-between;
}

.text {
  --colorH: #313038;
  --colorp: #96a1a3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.text h3 {
  font-size: 28px;
  color: var(--colorH);
  margin: 0;
  padding-top: 23px;
}

.text p {
  font-size: 18px;
  color: var(--colorp);
  margin: 0;
  padding-bottom: 23px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
